In [1]:
print("Hello all welcome to python fundamentals batch98!!")

Hello all welcome to python fundamentals batch98!!

In [2]:
print("Hello world!!")

Hello world!!

In [1]:
a = 3
b =2

In [2]:
c = a+b
print(c)

5

In [3]:
first name = "satish" # no namespaces for declaring the variable name
print(first name)

SyntaxError: invalid syntax (2336819580.py, line 1)

In [4]:
firstname = "satish"
print(firstname)

satish

In [5]:
# variable name should not start with number
1name = "satish"
print(1name)

SyntaxError: invalid decimal literal (827213783.py, line 2)

In [6]:
name1 = "satish"
print(name1)

satish

In [7]:
#variable name should not contain any special characters
name@ = "satish"
print(name@)

SyntaxError: invalid syntax (4102533541.py, line 2)

In [ ]:
#Datatypes
1. strings----str
2. Number-----int,floats(decimal)--0.1,0.2
3. lists----list
4. tuples---tuple
5. dictiorie---dicr

In [ ]:
#classification of datatypes
mutable----edit/alter
immutable---cannot edit/alter

In [9]:
#string datatype
A string is a series of charcters declared in quotes
->single quote
->Double quote

name = 'satish'
print(name)

SyntaxError: invalid syntax (3196429328.py, line 2)

In [ ]:
name = 'satish'
print(name)